* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #f4f4f4;
  font-family: Lato;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

hr {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-color: #828282;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  user-select: none;
}

a {
  color: #8200a0;
  text-decoration: none;
}

 